{% extends 'layouts/base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block body %}
	<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-md w-full space-y-8">
			<div>
				<img class="mx-auto h-12 w-auto" src="https://dplugins.com/wp-content/uploads/2021/06/dPlugins-logo.svg" alt="dPlugins Cloud">
				<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
					Sign in
				</h2>
				<p class="mt-2 text-center text-sm text-gray-600">
					Or
					<a href="{{ path('app_register') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
						Register a new account
					</a>
				</p>
			</div>
			{% if error %}
				<!-- This example requires Tailwind CSS v2.0+ -->
				<div class="rounded-md bg-red-50 p-4">
					<div class="flex">
						<div
							class="flex-shrink-0">
							<!-- Heroicon name: solid/x-circle -->
							<svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
							</svg>
						</div>
						<div class="ml-3 flex-1 md:flex md:justify-between">
							<p class="text-sm text-red-700">
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</p>
						</div>
					</div>
				</div>
			{% endif %}
			{% for message in app.flashes('success')  %}
			<!-- This example requires Tailwind CSS v2.0+ -->
			<div class="rounded-md bg-blue-50 p-4">
				<div class="flex">
					<div
						class="flex-shrink-0">
						<!-- Heroicon name: solid/check-circle -->
						<svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
						</svg>
					</div>
					<div class="ml-3 flex-1 md:flex md:justify-between">
						<p class="text-sm text-blue-700">
							{{ message }}
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
			<form class="mt-8 space-y-6" method="POST">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="rounded-md shadow-sm -space-y-px">
					<div>
						<label for="inputEmail" class="sr-only">Email address</label>
						<input id="inputEmail" name="email" type="email" value="{{ last_username }}" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
					</div>
					<div>
						<label for="inputPassword" class="sr-only">Password</label>
						<input id="inputPassword" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
					</div>
				</div>
				<div class="flex items-center justify-between">
					<div class="flex items-center">
						<input id="remember-me" name="_remember_me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
						<label for="remember-me" class="ml-2 block text-sm text-gray-900">
							Remember me
						</label>
					</div>

					<div class="text-sm">
						<a href="{{ path('app_forgot_password_request') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
							Forgot your password?
						</a>
					</div>
				</div>
				<div>
					<button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
						<span
							class="absolute left-0 inset-y-0 flex items-center pl-3">
							<!-- Heroicon name: solid/lock-closed -->
							<svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
							</svg>
						</span>
						Sign in
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
