{% extends 'layouts/base.html.twig' %}

{% block title %}
	Authorization
{% endblock %}

{% block body %}
	<style>
		html,
		body {
			height: 100%;
		}
		body {
			background-color: #fff;
			background: radial-gradient(circle at center, #fff 0%, #f8f8f8 75%, #ebebeb 100%);
			color: #222;
			line-height: 1.5;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>

	<div class="p-4 text-center" {{ stimulus_controller('auth_token') }}>
		<h1 class="sm:text-4xl text-2xl font-bold"><a href="{{ path('app_dashboard') }}" target="_blank" class="underline">Snippets Guru</a> Authorization</h1>
		<p class="my-4">Copy & Paste the following token into the plugin's setting to provide account access:</p>
		<div id="code" {{ stimulus_action('auth_token', 'copypaste', 'dblclick') }} {{ stimulus_target('auth_token', 'token') }} class="bg-[#eee] rounded-lg border border-solid border-[#ccc] text-sm max-w-7xl p-4 text-left break-all font-mono">
			{{ token }}
		</div>
	</div>
{% endblock %}
