{% extends 'layouts/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% form_theme requestForm _self %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul role="list" class="list-disc pl-5 space-y-1">
            {%- for error in errors -%}
                <li class="{{ error_item_class|default('text-red-700') }}">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{% block body %}
	<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-md w-full space-y-8">
			<div>
				<img class="mx-auto h-12 w-auto" src="https://dplugins.com/wp-content/uploads/2021/06/dPlugins-logo.svg" alt="dPlugins Cloud">
				<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
					Reset your password
				</h2>
				<p class="mt-2 text-center text-sm text-gray-600">
					Or
					<a href="{{ path('app_login') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
						Sign in with existing account
					</a>
				</p>
			</div>

			{% if not requestForm.vars.valid %}
				<!-- This example requires Tailwind CSS v2.0+ -->
				<div class="rounded-md bg-red-50 p-4">
					<div class="flex">
						<div
							class="flex-shrink-0">
							<!-- Heroicon name: solid/x-circle -->
							<svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
							</svg>
						</div>
						<div class="ml-3">
							<h3 class="text-sm font-medium text-red-800">
								There were error(s) with your submission
							</h3>
							<div class="mt-2 text-sm text-red-700">
								{{ form_errors(requestForm) }}
								{{ form_errors(requestForm.email) }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}

            {% for message in app.flashes('reset_password_error')  %}            
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="rounded-md bg-red-50 p-4">
                <div class="flex">
                    <div
                        class="flex-shrink-0">
                        <!-- Heroicon name: solid/x-circle -->
                        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
                        </svg>
                    </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                        <p class="text-sm text-red-700">
                            {{ message }}
                        </p>
                    </div>
                </div>
            </div>
			{% endfor %}
            
			{% for message in app.flashes('success')  %}
			<!-- This example requires Tailwind CSS v2.0+ -->
			<div class="rounded-md bg-blue-50 p-4">
				<div class="flex">
					<div
						class="flex-shrink-0">
						<!-- Heroicon name: solid/check-circle -->
						<svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
						</svg>
					</div>
					<div class="ml-3 flex-1 md:flex md:justify-between">
						<p class="text-sm text-blue-700">
							{{ message }}
						</p>
					</div>
				</div>
			</div>
			{% endfor %}

			{{ form_start(requestForm, {
				'attr': {
					'class': 'mt-8 space-y-6',
				},
			}) }}
			<div class="rounded-md shadow-sm -space-y-px">
				<div>
					{{ form_label(requestForm.email, 'Email Address', {
						'label_attr': {
							'class': 'sr-only',
						}
					}) }}
					{{ form_widget(requestForm.email, {
						'attr': {
							'class': 'appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm',
							'placeholder': 'Email Address',
						}
					}) }}
				</div>
			</div>
			<div>
				<button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
					<span
						class="absolute left-0 inset-y-0 flex items-center pl-3">
						<!-- Heroicon name: solid/lock-closed -->
						<svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
						</svg>
					</span>
					Send password reset email
				</button>
			</div>
			{{ form_end(requestForm) }}
		</div>
	</div>
{% endblock %}
